p {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify1 {
    text-align: justify;
}

.justify2 {
    text-align: justify;
    -webkit-text-justify: inter-word;
    -ms-text-justify: inter-word;
    text-justify: inter-word;
}