/*.클래스 명으로 같은 태그중 특정 태그에만 스타일 적용*/
.txt2 {
    color: aqua;
}

.txt3 {
    color: blue;
}

/*다른 태그에 동일한 클래스가 존재할 때 특정태그의 클래스에만 스타일을 적용할 때*/
p.txt1 {
    color: brown;
}

/*태그 전체가 아닌 특정 부분에만 스타일을 적용하고 싶을 때는 span태그로 감싸서 지정*/
.txt4 {
    font-size: 20px;
    font-weight: bold;
}